html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
a,
p,
div {
    letter-spacing: -0.03em;
}

body {
    font-family: 'Manrope', sans-serif;
    width: 100%;
    overflow-x: hidden !important;
}

section {
    padding: 150px 125px 0 125px;
}

h1 {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
}

h2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    text-transform: uppercase;
}

h3 {
    font-size: 30px;
    line-height: 41px;
}

h1, h2, h3 {
    letter-spacing: -0.03em;
    color: #121212;
}

section:first-child {
    margin-top: 0;
}

.section-long {
    padding-bottom: 150px;
}

.section-black {
    background-color: #000;
    padding: 151px 0 150px;
}

.white {
    color: #FFF;
}

.container {
    margin: 0 auto;
    width: 1400px;
    background: #FFFFFF;
}

.container_black {
    margin: 0 auto;
    width: 1400px;
    padding: 125px;
}

p.description {
    margin-top: 30px;
    font-size: 45px;
    font-weight: 400;
    line-height: 61px;
    letter-spacing: -0.03em;
    text-align: left;
}

.interior {
  width: 100%;
  height: 500px;
  position: relative;
  margin-top: 31px;
  display: flex;

  background-image: url(../resources/interior.png);
  background-size: cover; /* лучше для адаптивности */
  background-position: center;
  background-repeat: no-repeat;
}


.image_text {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.03em;
    width: 430px;
    position: absolute;
    bottom: 40px;
    left: 40px;
}

a.btn {
    width: 255px;
    text-align: center;
    margin-top: 30px;
    display: inline-block;
    padding: 23.5px 30px ;
    border-radius: 5px;
    text-decoration: none;
    background-color: #AD1818;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 20px;
}

.projects {
    margin-top: 30px;
}

.project {
    margin-top: 90px;
} 

.projects :first-child {
    margin-top: 0;
}

.project__image {
    margin-bottom: 15px;
}

.project__title {
    margin-bottom: 13px;
}

.project__link {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.01em;
    color: #AD1818;
    text-decoration: none;
}

.services {
    margin-top: 34px;
}

.service {
    margin-top: 60px;
}

.service__image {
    width: 100%;
    object-fit: cover;
    height: 270px;
    margin-bottom: 13px;
}

.service:first-child  {
    margin-top: 0;
}

.fullWidthBtn {
    display: block;
    width: 100%;
    height: 153px;
    line-height: 153px;
    border: 1px solid #AD1818;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color: #AD1818;
    font-size: 30px;
    letter-spacing: -0.03em;
}

.fullWidthBtn:hover {
    background-color: #AD1818;
    color: #FFFFFF;
}

header {
    width: 100%;
    padding: 32px 125px 0 125px;
}

.header_container {
    width: 1150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 auto;
}

.logo {
    display: block;
    width: 127px;
    height: 22px;
}

.nav_header {
    display: inline-block;
    vertical-align: top;
    margin-top: 1px;
}

.nav_header_link {
    display: inline-block;
    
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-decoration: none;
    color: #121212;
}

.nav_header_link:not(:last-child) {
    margin-right: 57px;
}

.first_section {
    padding-top: 69px;
}

.section-image {
    background-image: url('../resources/section-image.png');
    height: 717px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.section-image_text {
    position: relative;
    width: 1150px;
    height: 100%;
}

.section-image_text-p {
    position: absolute;
    left: 0;
    bottom: 60px;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}


.contact_blocks_links {
    display: flex;
    flex-direction: column;
} 

.contact_block_link {
    display: inline-block;
    margin-top: 35px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.015em;
    text-decoration: none;
    color: #121212;
}

.contact_block_link_email {
    display: inline-block;
    margin-top: 30px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: gray;
    text-decoration: none;
}

.line_contact {
    color: gray;
    border: none;
    height: 2px;
    min-width: 406px;
}

.contact_h2  {
    position: relative;
}

.contact_h2::before {
    content: '';
    display: block;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
    background-image: url('/resources/contact_block.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

footer {
    margin-top: 150px;
    background-color: #000;
    padding-top: 60px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.footer_menu_block {
    margin: 0 auto;
    width: 450px;
    margin-bottom: 87px;
}

.footer_link {
    box-sizing: border-box;
    color: #FFF;
}

.footer_link:not(:last-child) {
    margin-right: 50px;
}

.footer_text {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #FFF;
    opacity: 0.5;
}




.full_section_content {
    position: relative;
    margin: 0 auto;
    width: 1400px;
    padding: 150px 125px 0 125px;
    height: 100%;
}

.section-image {
    padding: 0;
}

.black_padding_top {
    padding-top: 0px;
}

.nav_header_link:hover {
    color: #121212;
    opacity: 0.5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.footer_link:hover {
    color: #FFF;
    opacity: 0.5;
    border-bottom: 1px solid rgba(77, 77, 77, 0.5);
}

@media (max-width: 700px) {

    .container {
        width: auto;
        margin: 0 auto;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    header {
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;        
        padding: 32px 15px 0 15px;;
    }

    .header_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo-link {
        margin-right: auto;
    }

    .nav_header_link:not(:last-child) {
        margin-right: 5px;
    }

    .nav_header {
        float: right;
    }

    .nav_header_link {
        font-size: 12px;
    }

    section {
        padding: 15px;
        padding-top: 50px;
    }

    .first_section {
        padding-top: 20px;
    }

    h1 {
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 30px;
    }

    .first_section {
        box-sizing: border-box;
    }

    .interior {
        height: 200px; /* или auto, если содержимое управляет размером */
        background-size: cover; /* можно также contain, если нужно полностью влезать */
        margin-top: 0px;
    }

    .image_text {
        width: auto;
        position: relative;
        left: 5px;
        font-size: 14px;
        line-height: 18px;
        margin-top: 0px;
        bottom: 0;
        text-align: left;
        top: 120px;
    }

    p.description {
        font-size: 25px;
        line-height: 30px;
        margin-top: 20px;
    }

    a.btn {
        margin-top: 20px;
        width: auto;
        padding: 20px;
        font-size: 16px;
    }

    .project  {
        margin-top: 30px;
    }

    .project__image {
        width: 100%;
        height: 200px;
    }

    h3 {
        font-size: 20px;
        line-height: 25px;
    }

    .project__link {
        font-size: 14px;
    }

    .fullWidthBtn {
        margin-top: 40px !important;
        height: 60px;
        font-size: 20px;
        line-height: 60px;
    }

    .section-long {
        padding-bottom: 50px;
    }

    .section-black {
        width: auto;
        margin: 0 auto;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        padding-bottom: 50px;
    }

    .full_section_content {
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 51px 15px 0 15px;
    }

    .section-image {
        width: auto;
        margin: 0 auto;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        height: 400px;
    }

    .section-image_text-p {
        bottom: 40px;
        font-size: 18px;
        line-height: 23px;
    }

    .contact_block_link {
        margin-top: 15px;
        font-size: 24px;
        line-height: 30px;
    }

    .contact_block_link_email {
        margin-top: 15px;
        font-size: 24px;
        line-height: 30px;
    }

    footer {
        width: auto;
        margin: 0 auto;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }
    
    .style_mobile_footer {
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 32px 5px 32px 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer_menu_block {
        width: auto;
        margin-bottom: 30px;
    }

    .footer_text {
        font-size: 18px;
    }

    .service__image {
        height: 200px;
    }
}

@media (max-width: 1399px) and (min-width: 1000px) {
    .container {
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    header {
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;        
        padding: 32px 125px 0 125px;
    }

    .header_container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .logo-link {
        margin-right: auto;
    }

    .nav_header_link:not(:last-child) {
        margin-right: 25px;
    }

    .nav_header {
        float: right;
    }

    section {
        padding: 35px 125px 35px 125px;
        padding-top: 50px;
    }

    .first_section {
        padding-top: 20px;
    }

    h1 {
        font-size: 42px;
        line-height: 42px;
        margin-bottom: 40px;
    }

    .first_section {
        box-sizing: border-box;
    }

    .interior {
        height: 400px; /* или auto, если содержимое управляет размером */
        background-size: cover; /* можно также contain, если нужно полностью влезать */
        margin-top: 0px;
        align-items: center;
    }

    .image_text {
        width: auto;
        left: 18px;
        font-size: 18px;
        line-height: 18px;
        margin-top: 0px;
        bottom: 0;
        text-align: left;
        top: 320px;
    }

    p.description {
        font-size: 35px;
        line-height: 51px;
        margin-top: 20px;
    }

    a.btn {
        width: auto;
        padding: 23px;
    }

    .project  {
        margin-top: 50px;
    }

    .project__image {
        width: 100%;
        height: 350px;
    }

    .fullWidthBtn {
        margin-top: 60px !important;
        height: 90px;
        line-height: 90px;
    }

    .section-long {
        padding-bottom: 50px;
    }

    .section-black {
        width: auto;
        margin: 0 auto;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        padding-bottom: 50px;
    }

    .full_section_content {
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 51px 125px 0px 125px;
    }

    .section-image {
        width: auto;
        margin: 0 auto;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        height: 550px;
    }

    .section-image_text-p {
        bottom: 40px;
    }

    .contact_block_link {
        margin-top: 25px;
        font-size: 33px;
        line-height: 45px;
    }

    .contact_block_link_email {
        margin-top: 25px;
        font-size: 33px;
        line-height: 45px;
    }

    footer {
        width: auto;
        margin: 0 auto;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }
    
    .style_mobile_footer {
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 35px 125px 35px 125px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer_menu_block {
        width: auto;
        margin-bottom: 30px;
    }
}

@media (max-width: 999px) and (min-width: 701px) {
    .container {
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    header {
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;        
        padding: 32px 75px 0 75px;
    }

    .header_container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .logo-link {
        margin-right: auto;
    }

    .nav_header_link:not(:last-child) {
        margin-right: 25px;
    }

    .nav_header {
        float: right;
    }

    section {
        padding: 35px 75px 35px 75px;
        padding-top: 50px;
    }

    .first_section {
        padding-top: 20px;
    }

    h1 {
        font-size: 42px;
        line-height: 42px;
        margin-bottom: 40px;
    }

    .first_section {
        box-sizing: border-box;
    }

    .interior {
        height: 400px; /* или auto, если содержимое управляет размером */
        background-size: cover; /* можно также contain, если нужно полностью влезать */
        margin-top: 0px;
        align-items: center;
    }

    .image_text {
        width: auto;
        left: 18px;
        font-size: 18px;
        line-height: 18px;
        margin-top: 0px;
        bottom: 0;
        text-align: left;
        top: 320px;
    }

    p.description {
        font-size: 35px;
        line-height: 51px;
        margin-top: 20px;
    }

    a.btn {
        width: auto;
        padding: 23px;
    }

    .project  {
        margin-top: 50px;
    }

    .project__image {
        width: 100%;
        height: 350px;
    }

    .fullWidthBtn {
        margin-top: 60px !important;
        height: 90px;
        line-height: 90px;
    }

    .section-long {
        padding-bottom: 50px;
    }

    .section-black {
        width: auto;
        margin: 0 auto;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        padding-bottom: 50px;
    }

    .full_section_content {
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 35px 75px 0 75px;
    }

    .section-image {
        width: auto;
        margin: 0 auto;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        height: 550px;
    }

    .section-image_text-p {
        bottom: 40px;
    }

    .contact_block_link {
        margin-top: 25px;
        font-size: 33px;
        line-height: 45px;
    }

    .contact_block_link_email {
        margin-top: 25px;
        font-size: 33px;
        line-height: 45px;
    }

    footer {
        width: auto;
        margin: 0 auto;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }
    
    .style_mobile_footer {
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 32px 75px 0 75px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer_menu_block {
        width: auto;
        margin-bottom: 30px;
    }
}