html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
a,
p,
div {
    letter-spacing: -0.03em;
}

body {
    font-family: 'Manrope', sans-serif;
    width: 100%;
    overflow-x: hidden !important;
}

section {
    padding: 150px 0 0 0;
}

h1 {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
}

h2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    text-transform: uppercase;
}

h3 {
    font-size: 30px;
    line-height: 41px;
}

h1, h2, h3 {
    letter-spacing: -0.03em;
    color: #121212;
}

section:first-child {
    margin-top: 0;
}

.section-long {
    padding-bottom: 150px;
}

.section-black {
    background-color: #000;
    padding: 151px 0 150px;
}

.white {
    color: #FFF;
}

.container {
    margin: 0 auto;
    width: 1150px;
    background: #FFFFFF;
}

.container_black {
    margin: 0 auto;
    width: 1150px;
}

p.description {
    margin-top: 30px;
    font-size: 45px;
    font-weight: 400;
    line-height: 61px;
    letter-spacing: -0.03em;
    text-align: left;
}

.intro-image {
  width: 100%;
  height: 500px;
  position: relative;
  margin-top: 31px;
  display: flex;

  background-image: url(../resources/interior.png);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}


.intro-image__text {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.03em;
    width: 430px;
    position: absolute;
    bottom: 40px;
    left: 40px;
}

a.btn {
    width: 255px;
    text-align: center;
    margin-top: 30px;
    display: inline-block;
    padding: 23.5px 30px ;
    border-radius: 5px;
    text-decoration: none;
    background-color: #AD1818;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 20px;
}

.projects {
    margin-top: 30px;
}

.project {
    margin-top: 90px;
} 

.projects :first-child {
    margin-top: 0;
}

.project__image {
    width: 100%;
    height: 450px;
    margin-bottom: 15px;
}

.project__title {
    margin-bottom: 13px;
}

.project__link {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.01em;
    color: #AD1818;
    text-decoration: none;
}

.services-wrapper {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 85px;

}

.service {
    width: calc(50% - 6px);
    display: flex;
    flex-direction: column;
}

.service_label-wrapper {
    position: relative;
}

.service__image {
    width: 100%;
    object-fit: cover;
    height: 389px;
    margin-bottom: 25px;
}

.service_absolute {
    position: absolute;
    top: 31px;
    left: 30px;
    color: #FFF;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.66px;
    padding: 5px 22px 5px 20px;
    border-radius: 5px;
    background: #AD1818;
}

.full-width-btn {
    margin-top: 90px;
    display: block;
    width: 100%;
    height: 153px;
    line-height: 153px;
    border: 1px solid #AD1818;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color: #AD1818;
    font-size: 30px;
    letter-spacing: -0.03em;
}

.full-width-btn:hover {
    background-color: #AD1818;
    color: #FFFFFF;
}

.full-width-btn_inverted {
    margin-top: 106px;
    background-color: #AD1818;
    color: #FFFFFF;
}

.full-width-btn_inverted:hover {
    background-color: #FFF;
    color: #AD1818;
}

.reviews {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 50px;
}

.review {
    width: calc(50% - 25px);
}

.review:last-child:nth-child(2n + 1) {
    width: 75%;
}

.review__title {
    font-size: 45px;
    line-height: 61px;
    letter-spacing: -1.35px;
}

.review__text {
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.66px;
}

header {
    width: 100%;
    padding: 32px 0 0 0;
}

.header_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 auto;
}

.logo {
    display: block;
    width: 127px;
    height: 22px;
    cursor: pointer;
}

.nav_header {
    display: inline-block;
    vertical-align: top;
    margin-top: 1px;
}

.nav_header_link {
    display: inline-block;
    
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-decoration: none;
    color: #121212;
}

.nav_header_link:not(:last-child) {
    margin-right: 57px;
}

.first_section {
    padding-top: 69px;
}

.section-image {
    background-image: url('../resources/section-image.png');
    height: 717px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.section-image_text {
    position: relative;
    width: 1150px;
    height: 100%;
}

.section-image_text-p {
    position: absolute;
    left: 0;
    bottom: 60px;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}


.contact_blocks_links {
    display: flex;
    flex-direction: column;
} 

.contact_block_link {
    display: inline-block;
    margin-top: 35px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.015em;
    text-decoration: none;
    color: #121212;
}

.contact_block_link_email {
    display: inline-block;
    margin-top: 30px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: gray;
    text-decoration: none;
}

.line_contact {
    color: gray;
    border: none;
    height: 2px;
    min-width: 406px;
}

.contact_h2  {
    position: relative;
}

.contact_h2::before {
    content: '';
    display: block;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
    background-image: url('/resources/contact_block.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

footer {
    margin-top: 150px;
    background-color: #000;
    padding-top: 60px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.footer_menu_block {
    margin: 0 auto;
    width: 450px;
    margin-bottom: 87px;
}

.footer_link {
    box-sizing: border-box;
    color: #FFF;
}

.footer_link:not(:last-child) {
    margin-right: 50px;
}

.footer_text {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #FFF;
    opacity: 0.5;
}




.full_section_content {
    position: relative;
    width: 1150px;
    margin: 0 auto;
    height: 100%;
}

.section-image {
    padding: 0;
}

.black_padding_top {
    padding-top: 0px;
}

.nav_header_link:hover {
    color: #121212;
    opacity: 0.5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.footer_link:hover {
    color: #FFF;
    opacity: 0.5;
    border-bottom: 1px solid rgba(77, 77, 77, 0.5);
}

/*gallary block*/
.section-full {
    width: 100%;
}

.section-nopadd {
    padding: 0;
}

.gallery {
    position: relative;
    width: 100%;
    background-image: url('../resources/section-image.png');
    height: 717px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0)0.52%,rgba(0, 0, 0, 0.4)82.81%);
    background-size: cover;
    background-position: 50%;
}

.gallery_text {
    position: absolute;
    left: 125px;
    bottom: 60px;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}



@media (max-width: 1199px) {
    .container {
        width: 100%;
        padding-left: 17px;
        padding-right: 15px;
    }

    .first_section {
        padding-top: 74px;
    }

    section {
        padding-top: 120px;
    }

    .nav_header {
        display: none;
    }

    h1 {
        font-size: 50px;
        letter-spacing: -1.5px;
    }

    .intro-image {
        height: 400px;
    }

    .intro-image__text {
        bottom: 30px;
    }

    p.description {
        margin-top: 20px;
        font-size: 35px;
        line-height: 48px;
        width: 690px;
    }

    .project {
        margin-top: 80px;
    }

    .project__title {
        margin-bottom: 10px;
        font-size: 25px;
        line-height: 34px;
        letter-spacing: -0.75px;
    }

    .full_section_content {
        width: 100%;
        padding-left: 17px;
        padding-right: 15px;
    }

    .services-wrapper {
        row-gap: 80px;
    }

    .service__image {
        height: 315px;
        margin-bottom: 15px;
    }

    .service_absolute {
        padding: 7px 26px 6px 26px;
        font-size: 20px;
        line-height: 27px;
        letter-spacing: 0.6px;
    }

    .service_title {
        font-size: 25px;
        line-height: 34px;
        letter-spacing: -0.75px;
    }

    .full-width-btn {
        margin-top: 102px;
    }

    .full-width-btn_inverted {
        margin-top: 80px;
    }

    .section-black {
        padding-bottom: 120px;
    }

    .reviews {
        column-gap: 10px;
        row-gap: 80px;
    }

    .review {
        width: calc(50% - 5px);
    }

    .review__title {
        font-size: 35px;
        line-height: 48px;
    }

    .review__text {
        font-size: 20px;
        line-height: 27px;
    }
}

@media (max-width: 767px) {
    .container {
        width: 100%;
        padding-left: 13px;
        padding-right: 12px;
    }

    .logo {
        width: 96px;
        height: 16px;
    }

    .first_section {
        padding-top: 61px;
    }

    h1 {
        font-size: 30px;
        line-height: 32px;
        letter-spacing: -0.9px;
    }

    .intro-image {
        margin-top: 25px;
        height: 304px;
    }

    .intro-image_text {
        font-size: 16px;
        line-height: 22px;
        left: 15px;
        bottom: 15px;
        width: auto;
    }

    section {
        padding-top: 80px;
    }

    h2 {
        font-size: 14px;
        line-height: 19px;
        letter-spacing: -0.42px;
    }

    p.description {
        width: auto;
        font-size: 22px;
        line-height: 30px;
        letter-spacing: -0.66px;
    }

    a.btn {
        width: 194px;
        padding: 15px 25px;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -0.48px;
        white-space: nowrap;
    }

    .projects {
        margin-top: 20px;
    }

    .project {
        margin-top: 49px;
    } 

    .project__image {
        height: 250px;
        margin-bottom: 20px;
    }

    .project__title {
        margin-bottom: 11px;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.54px;
    }

    .project__link {
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -0.48px;
    }

    .full_section_content {
        width: 100%;
        padding-left: 13px;
        padding-right: 12px;
    }
    

    .services-wrapper {
        margin-top: 20px;
        row-gap: 60px;
    }

    .service {
        width: 100%;
    }

    .service__image {
        height: 240px;
        margin-bottom: 10px;
    }

    .service_absolute {
        padding: 5px 24px 6px 24px;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.42px;
    } 

    .service_title {
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.54px;
    }

    .full-width-btn {
        height: auto;
        margin-top: 60px;
        padding: 34px 0;
        font-size: 22px;
        line-height: 30px;
    }

    .section-long {
        padding-bottom: 144px;
    }
    
    .section-black {
        padding: 80px 0 80px;
    }

    .reviews {
        margin-top: 22px;
        flex-direction: column;
    }

    .review {
        width: 100%;
    }

    .review__title {
        font-size: 25px;
        line-height: 34px;
    }

    .review__text {
        font-size: 16px;
        line-height: 22px;
    }
}